.head img{
    width: 20px;
    border-radius: 50%;
    border-color: #dadada;
}

.card{
    height: 350px;
    width: 300px;
    background-color: rgb(233, 229, 229);
    color: white;
    border-radius: 30px;
    border: 2px solid #111;
    border-radius: 25px;

    box-shadow:
        0 6px 18px rgba(0,0,0,.25),
        0 0 8px rgba(255,193,7,.25);

    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;

}

.card .head{
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    background: linear-gradient(to right , black, rgb(104, 102, 102), black);
    border-radius: 20px;
    padding: 20px;
    border: 2px solid goldenrod;
    height: 100px;

}

.card .head h2{
    font-size: 18px;
    color: goldenrod;
}

.card  .button{
    position: absolute;
    top: 38%;
    right: 12%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    padding: 12px 10px;
    border-radius: 8px;
    border: 1.3px solid goldenrod;
    background-color: rgba(0, 0, 0, 0.479);
}

.card button span{
    font-weight: bolder;
    margin-right: 4px;
    font-size: 20px;
    color: goldenrod;


}

.card .img{
    position: absolute;
    top: 28%;
    left: 10%;
    height: 80px;
    border-radius: 50%;
    border: 2px solid goldenrod;
}

.center{
    width: 100%;
    padding: 20px;
    color: black;
    width: 80%;
}

.center h3{
    margin-bottom: 0px;
}
.center h5{
    margin-top: 0px;
    color: #a0a0a0;
    font-weight: 100;
}

.stats{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 15px;
    width: 100%;
}

.stat-item{
    display: flex;
    align-items: center;
    gap: 5px;
}

.stat-item svg{
    width: 20px;
    height: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    line-height: 1.2;
}

.text h4{
    margin: 0;
    color: #000;
    font-size: 12px;
    font-weight: 700;
}

.text p{
    margin: 2px 0 0;
    color: #a0a0a0;
    font-size: 12px;
    font-weight: 500;
}


.foot button{
    margin-top: 8px;
    height: 40px;
    width: 100%;
    border-radius: 14px;
    border: 2px solid goldenrod;
    background: linear-gradient(to right , black, rgb(104, 102, 102), black);
    color: goldenrod;
}

.foot button > h4{
    margin: 0px;
    font-weight: bolder;
}


.foot button:hover{
    cursor: pointer;
}